.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  left: 0px;
  top: 0px;
  padding: 0px;
}


.image {
  background-image: url("../../assets/signin.jpeg");
  /* Replace with your image path */
  width: 80vh;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  order: 1;
}

.container>div {
  flex: 1;
  padding: 100px;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

form {
  width: 100%;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

input[type="radio"] {
  margin-right: 5px;
}

button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button.disabled {
  background-color: #ccc;
  /* Use your preferred gray color */
  color: #666;
  /* Use a suitable text color for disabled state */
  cursor: not-allowed;
  /* Change cursor to not-allowed */
}

.form {
  width: fit-content;
  align-items: center;
  margin-top: 10%;
  justify-self: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: 10%;
  order: 2;
}