<div class="container">
  <div>
    <div class="card">
      <div class="bg-image hover-overlay" style="text-align: center;">
        <img src="../../assets/loza.jpg" class="img-fluid" />
        <a href="#!">
          <div
            class="mask"
            style="background-color: rgba(251, 251, 251, 0.15)"
          ></div>
        </a>
      </div>
      <div class="card-body">
        <h5 class="card-title"><strong>Pet:</strong>&nbsp;Loza</h5>
        <hr />
        <table>
          <tr>
            <td><strong>Specie: </strong>Sherazy</td>
            <td><strong>Vaccination: </strong>Not Vaccinated</td>
          </tr>
          <tr>
            <td><strong>Color: </strong>Grey</td>
            <td><strong>Gender: </strong>Female</td>
          </tr>
          <tr>
            <td><strong>Age: </strong>1 year</td>
            <td><strong>Health Status: </strong>Good</td>
          </tr>
        </table>
        <hr />
      </div>
      <div class="card-body">
        <h5 class="card-title"><strong>Adopter:</strong> &nbsp; Aboelwafa</h5>
        <hr />
        <table>
          <tr>
            <td><strong>Contact Number: </strong>01205073541</td>
          </tr>
          <tr>
            <td>
              <strong>Description: </strong> <br /><br />I will take Care of
              Loza
            </td>
          </tr>
        </table>
        <hr />
        <div class="btn">
          <button class="btn btn-success">
            Approve <i class="fa-solid fa-check"></i>
          </button>
          <button class="btn btn-danger">
            Reject <i class="fa-regular fa-circle-xmark"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
