<div class="container">
  <div class="group">
    <input
      type="text"
      class="form-control"
      aria-label="Text input with dropdown button"
      placeholder="{{ filter }}"
      [(ngModel)]="filterValue"
      (input)="applyFilter()"
    />
    <select
      class="form-select"
      aria-label="Disabled select example"
      style="height: 5vh"
      [(ngModel)]="selectedValue"
    >
      <option value="Training">Training</option>
      <option value="Vaccination">Vaccination</option>
      <option value="spayNeuter">spayNeuter</option>
    </select>
  </div>
  <div class="top"></div>
  <div *ngFor="let pet of filteredPets; let i = index">
    <div class="card">
      <div class="bg-image hover-overlay">
        <img [src]="images[i]" class="img-fluid" />
        <a href="#!">
          <div
            class="mask"
            style="background-color: rgba(251, 251, 251, 0.15)"
          ></div>
        </a>
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ pet.petName }}</h5>
        <hr />
        <table>
          <tr>
            <td><strong>Specie: </strong>{{ pet.species }}</td>
            <td><strong>Breed: </strong>{{ pet.breed }}</td>
          </tr>
          <tr>
            <td><strong>Color: </strong>{{ pet.color }}</td>
            <td><strong>Gender: </strong>{{ pet.gender }}</td>
          </tr>
          <tr>
            <td><strong>Age: </strong>{{ pet.age }}</td>
            <td><strong>Health Status: </strong>{{ pet.healthStatus }}</td>
          </tr>
          <tr>
            <td><strong>Training: </strong>{{ pet.training }}</td>
            <td><strong>Vaccination: </strong>{{ pet.vaccination }}</td>
          </tr>
          <tr>
            <td><strong>Spay Neuter: </strong>{{ pet.spayNeuter }}</td>
            <td><strong>Behaviour: </strong>{{ pet.behavior }}</td>
          </tr>
        </table>
        <hr />
        <div class="btn">
          <button
            class="btn btn-dark"
            data-toggle="modal"
            data-target="#exampleModalCenter"
            (click)="set_index(i)"
          >
            Fill Application<i class="fa-solid fa-file-signature"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div
    class="modal fade"
    id="exampleModalCenter"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">
            Adoption Application <i class="fa-solid fa-file-signature"></i>
          </h5>
          <button class="outer_button">
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </button>
        </div>

        <div class="modal-body">
          <h2>Adopter's Name:</h2>
          <input
            type="text"
            name="forget_pass"
            id="forget_pass_input"
            placeholder="{{ currentAdopter.name }}"
            disabled
          />
        </div>
        <div class="modal-body">
          <h2>Contact's Number:</h2>
          <input
            type="text"
            name="forget_pass"
            id="forget_pass_input"
            placeholder="{{ currentAdopter.phone }}"
            disabled
          />
        </div>
        <div class="modal-body">
          <h2>Description:</h2>
          <textarea
            type="text"
            name="forget_pass"
            id="forget_pass_input"
            [(ngModel)]="description"
            maxlength="1000"
            placeholder="Why you want to adopt this pet and why you are the best candidate for this pet?"
          ></textarea>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-success"
            (click)="fill_application()"
          >
            Submit <i class="fa-solid fa-check"></i>
            <div
              class="spinner-border text-light"
              role="status"
              *ngIf="spinner_flag == true"
            ></div>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div
    class="modal fade"
    id="notify"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">
            Application Submited ✅
          </h5>
          <button class="outer_button">
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
