<div class="container">
  <div class="top"></div>
  <div *ngFor="let application of applications; let i = index">
    <div class="card">
      <div class="bg-image hover-overlay" style="text-align: center;">
        <img [src]="images[i]" class="img-fluid" />
        <a href="#!">
          <div
            class="mask"
            style="background-color: rgba(251, 251, 251, 0.15)"
          ></div>
        </a>
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ application.pet.petName }}</h5>
        <hr />
        <table>
          <tr>
            <td><strong>Specie: </strong>{{ application.pet.species }}</td>
            <td><strong>Breed: </strong>{{ application.pet.breed }}</td>
          </tr>
          <tr>
            <td><strong>Color: </strong>{{ application.pet.color }}</td>
            <td><strong>Gender: </strong>{{ application.pet.gender }}</td>
          </tr>
          <tr>
            <td><strong>Age: </strong>{{ application.pet.age }}</td>
            <td><strong>Health Status: </strong>{{ application.pet.healthStatus }}</td>
          </tr>
          <tr>
            <td><strong>Training: </strong>{{ application.pet.training }}</td>
            <td><strong>Vaccination: </strong>{{ application.pet.vaccination }}</td>
          </tr>
          <tr>
            <td><strong>Spay Neuter: </strong>{{ application.pet.spayNeuter }}</td>
            <td><strong>Behaviour: </strong>{{ application.pet.behavior }}</td>
          </tr>
          <tr>
            <td><strong>Description: </strong>{{application.description}}</td>
          </tr>
        </table>
        <hr />
        <label class="approved" *ngIf="application.status=='Approved'">Approved <i class="fa-regular fa-circle-check"></i></label>
        <label class="pending" *ngIf="application.status=='Pending'">Pending <i class="fa-solid fa-clock"></i></label>
        <label class="rejected" *ngIf="application.status=='Rejected'">Rejected <i class="fa-regular fa-circle-xmark"></i></label>
      </div>
    </div>
  </div>
</div>
