<div class="container">
  <div class="top">
    <button
      class="btn btn-dark"
      data-toggle="modal"
      data-target="#exampleModalCenter"
    >
      Add <i class="fa-solid fa-plus"></i>
    </button>
  </div>
  <div *ngFor="let pet of pets; let i = index">
    <div class="card">
      <div class="bg-image hover-overlay">
        <img [src]="images[i]" class="img-fluid" />
        <a href="#!">
          <div
            class="mask"
            style="background-color: rgba(251, 251, 251, 0.15)"
          ></div>
        </a>
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ pet.petName }}</h5>
        <table class="table table-striped">
          <tr>
            <td><strong>Specie: </strong>{{ pet.species }}</td>
            <td><strong>Breed: </strong>{{ pet.breed }}</td>
          </tr>
          <tr>
            <td><strong>Color: </strong>{{ pet.color }}</td>
            <td><strong>Gender: </strong>{{ pet.gender }}</td>
          </tr>
          <tr>
            <td><strong>Age: </strong>{{ pet.age }}</td>
            <td><strong>Health Status: </strong>{{ pet.healthStatus }}</td>
          </tr>
          <tr>
            <td><strong>Training: </strong>{{ pet.training }}</td>
            <td><strong>Vaccination: </strong>{{ pet.vaccination }}</td>
          </tr>
          <tr>
            <td><strong>Spay Neuter: </strong>{{ pet.spayNeuter }}</td>
            <td><strong>Behaviour: </strong>{{ pet.behavior }}</td>
          </tr>
        </table>
        <div class="btn">
          <button
            class="btn btn-dark"
            data-toggle="modal"
            data-target="#edit"
            (click)="setindex(i)"
          >
            Edit<i class="fa-solid fa-pen"></i>
          </button>
          <button class="btn btn-danger" (click)="removepet(i)">
            Remove<i class="fa-solid fa-trash"></i>
            <div
              class="spinner-border text-light"
              role="status"
              *ngIf="spinner_flag == true"
            ></div>
          </button>
          <button
            class="btn btn-primary"
            data-toggle="modal"
            data-target="#document"
            (click)="setindex(i)"
          >
            Add Document<i class="fa-solid fa-add"></i>
          </button>
          <button class="btn btn-secondary" (click)="getPetDocuments(i)">
            View documents<i class="fa-solid fa-eye"></i>
          </button>
        </div>
      </div>
    </div>

   

    <div
      class="modal fade"
      id="edit"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Edit Pet</h5>
            <button class="outer_button" (click)="close()">
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </button>
          </div>

          <div class="modal-body">
            <h2>Pet Name :</h2>
            <input
              type="text"
              name="forget_pass"
              id="forget_pass_input"
              #new_pass
              [(ngModel)]="pets[index].petName"
            />
          </div>
          <div class="modal-body">
            <h2>Specie :</h2>
            <input
              type="text"
              name="forget_pass"
              id="forget_pass_input"
              #new_pass
              [(ngModel)]="pets[index].species"
            />
          </div>
          <div class="modal-body">
            <h2>Breed :</h2>
            <input
              type="text"
              name="forget_pass"
              id="forget_pass_input"
              #new_pass
              [(ngModel)]="pets[index].breed"
            />
          </div>
          <div class="modal-body">
            <h2>Color :</h2>
            <input
              type="text"
              name="forget_pass"
              id="forget_pass_input"
              #new_pass
              [(ngModel)]="pets[index].color"
            />
          </div>
          <div class="modal-body">
            <h2>Gender :</h2>
            <input
              type="text"
              name="forget_pass"
              id="forget_pass_input"
              #new_pass
              [(ngModel)]="pets[index].gender"
            />
          </div>
          <div class="modal-body">
            <h2>Age :</h2>
            <input
              type="text"
              name="forget_pass"
              id="forget_pass_input"
              #new_pass
              [(ngModel)]="pets[index].age"
            />
          </div>
          <div class="modal-body">
            <h2>Health Status :</h2>
            <input
              type="text"
              name="forget_pass"
              id="forget_pass_input"
              #new_pass
              [(ngModel)]="pets[index].healthStatus"
            />
          </div>
          <div class="modal-body">
            <h2>Training :</h2>
            <input
              type="text"
              name="forget_pass"
              id="forget_pass_input"
              #new_pass
              [(ngModel)]="pets[index].training"
            />
          </div>
          <div class="modal-body">
            <h2>Vaccination :</h2>
            <input
              type="text"
              name="forget_pass"
              id="forget_pass_input"
              #new_pass
              [(ngModel)]="pets[index].vaccination"
            />
          </div>
          <div class="modal-body">
            <h2>Spay Neuter :</h2>
            <input
              type="text"
              name="forget_pass"
              id="forget_pass_input"
              #new_pass
              [(ngModel)]="pets[index].spayNeuter"
            />
          </div>
          <div class="modal-body">
            <h2>Behaviour :</h2>
            <input
              type="text"
              name="forget_pass"
              id="forget_pass_input"
              #new_pass
              [(ngModel)]="pets[index].behavior"
            />
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="Editpet()">
              Edit Pet
              <div
                class="spinner-border text-light"
                role="status"
                *ngIf="spinner_flag == true"
              ></div>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div
      class="modal fade"
      id="notify1"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">
              successfuly updated
            </h5>
            <button class="outer_button" (click)="close()">
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div
      class="modal fade"
      id="document"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Add Pet</h5>
            <button class="outer_button" (click)="close()">
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </button>
          </div>

          <div class="modal-body">
            <h2>Document Name :</h2>
            <input
              type="text"
              name="forget_pass"
              id="forget_pass_input"
              #new_pass
              [(ngModel)]="document.documentName"
            />
          </div>
          <div class="modal-body">
            <h2>Document Type :</h2>
            <input
              type="text"
              name="forget_pass"
              id="forget_pass_input"
              #new_pass
              [(ngModel)]="document.documentType"
            />
          </div>

          <div class="modal-body">
            <h2>Document :</h2>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Upload</span>
              </div>
              <div class="custom-file">
                <input
                  type="file"
                  class="custom-file-input"
                  id="inputGroupFile01"
                  (change)="handleImageInput($event)"
                />
                <label class="custom-file-label" for="inputGroupFile01"
                  >Choose file</label
                >
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-primary"
              (click)="AddDocument()"
            >
              Add
              <div
                class="spinner-border text-light"
                role="status"
                *ngIf="spinner_flag == true"
              ></div>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div
class="modal fade"
id="exampleModalCenter"
tabindex="-1"
role="dialog"
aria-labelledby="exampleModalCenterTitle"
aria-hidden="true"
>
<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLongTitle">Add Pet</h5>
      <button class="outer_button" (click)="close()">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </button>
    </div>

    <div class="modal-body">
      <h2>Pet Name :</h2>
      <input
        type="text"
        name="forget_pass"
        id="forget_pass_input"
        #new_pass
        [(ngModel)]="newPet.petName"
      />
    </div>
    <div class="modal-body">
      <h2>Specie :</h2>
      <input
        type="text"
        name="forget_pass"
        id="forget_pass_input"
        #new_pass
        [(ngModel)]="newPet.species"
      />
    </div>
    <div class="modal-body">
      <h2>Breed :</h2>
      <input
        type="text"
        name="forget_pass"
        id="forget_pass_input"
        #new_pass
        [(ngModel)]="newPet.breed"
      />
    </div>
    <div class="modal-body">
      <h2>Color :</h2>
      <input
        type="text"
        name="forget_pass"
        id="forget_pass_input"
        #new_pass
        [(ngModel)]="newPet.color"
      />
    </div>
    <div class="modal-body">
      <h2>Gender :</h2>
      <input
        type="text"
        name="forget_pass"
        id="forget_pass_input"
        #new_pass
        [(ngModel)]="newPet.gender"
      />
    </div>
    <div class="modal-body">
      <h2>Age :</h2>
      <input
        type="text"
        name="forget_pass"
        id="forget_pass_input"
        #new_pass
        [(ngModel)]="newPet.age"
      />
    </div>
    <div class="modal-body">
      <h2>Health Status :</h2>
      <input
        type="text"
        name="forget_pass"
        id="forget_pass_input"
        #new_pass
        [(ngModel)]="newPet.healthStatus"
      />
    </div>
    <div class="modal-body">
      <h2>Training :</h2>
      <input
        type="text"
        name="forget_pass"
        id="forget_pass_input"
        #new_pass
        [(ngModel)]="newPet.training"
      />
    </div>
    <div class="modal-body">
      <h2>Vaccination :</h2>
      <input
        type="text"
        name="forget_pass"
        id="forget_pass_input"
        #new_pass
        [(ngModel)]="newPet.vaccination"
      />
    </div>
    <div class="modal-body">
      <h2>Spay Neuter :</h2>
      <input
        type="text"
        name="forget_pass"
        id="forget_pass_input"
        #new_pass
        [(ngModel)]="newPet.spayNeuter"
      />
    </div>
    <div class="modal-body">
      <h2>Behaviour :</h2>
      <input
        type="text"
        name="forget_pass"
        id="forget_pass_input"
        #new_pass
        [(ngModel)]="newPet.behavior"
      />
    </div>
    <div class="modal-body">
      <h2>Pet Image :</h2>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Upload</span>
        </div>
        <div class="custom-file">
          <input
            type="file"
            class="custom-file-input"
            id="inputGroupFile01"
            (change)="handleImageInput($event)"
          />
          <label class="custom-file-label" for="inputGroupFile01"
            >Choose file</label
          >
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="Addpet()">
        Add
        <div
          class="spinner-border text-light"
          role="status"
          *ngIf="spinner_flag == true"
        ></div>
      </button>
    </div>
  </div>
</div>
</div>

<div
class="modal fade"
id="notify"
tabindex="-1"
role="dialog"
aria-labelledby="exampleModalCenterTitle"
aria-hidden="true"
>
<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLongTitle">
        successfuly Added
      </h5>
      <button class="outer_button" (click)="close()">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </button>
    </div>
  </div>
</div>
</div>
